@model SocialNet.Models.User


    @if (User.Identity.IsAuthenticated)
    {
<div class="form-inline">
    <div class="col-md-4">
        <h2>@Model.Last_Name @Model.First_Name @Model.Patronymic</h2>
    </div>

    <div class="form-group">
        @using (Html.BeginForm())
        {
           
        }
    </div>
    <div class="form-group">
        @using (Html.BeginForm("AcceptRequest", "Main", new { fromUserLogin = Model.Login }, FormMethod.Post, new { @class = "form-inline" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Принять" class="btn btn-default" />
        }
    </div>
    <div class="form-group">
        @using (Html.BeginForm("DeclineRequest", "Main", new { fromUserLogin = Model.Login }, FormMethod.Post, new { @class = "form-inline" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Отклонить" class="btn btn-default" />
        }
    </div>
</div>


    }

